*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 300;
  margin: 0;
}

img {
  max-width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 47%;
}

.container {
  max-width: 1128px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5em;
}

.hero {
  background-color: #f3eed9;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.hero__text {
  margin-top: 0;
  text-align: center;
  width: 70%;
  max-width: 750px;
}

.hero__title {
  font-size: 60px;
  font-family: "Playfair Display", serif;
  color: #824936;
  margin-top: 0.3em;
}

.hero__subtitle {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.5em;
}

.white-section {
  margin-bottom: 5em;
}

.white-section__title {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  color: #824936;
}

.black-section {
  background-color: #222c2a;
  padding: 3em 0;
  color: white;
}

.brown-section {
  background-color: #824936;
  padding: 3em 0;
  color: white;
}

.section-title {
  color: #f3eed9;
  font-family: "Playfair Display", serif;
}

@media (max-width: 750px) {
  .row {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .row {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }

  .hero__title {
    font-size: 48px;
  }

  .white-section__title {
    font-size: 30px;
  }
}
